* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    min-height: 100vh;
    margin: 0 auto;
    display: grid;
    place-content: center;
    background-color: hsl(204, 43%, 93%);
    font-family: 'Karla', sans-serif;
}

main {
    width: 100%;
}

.cards {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 311px;
    grid-auto-rows: minmax(229px, auto);
    box-shadow: 0 0px 40px hsl(206, 8%, 83%);
}

.boxOne {
    background-color: #fff;
    display: grid;
    row-gap: 17px;
    padding-left:24px;
    padding-right: 26px;
    padding-top: 32px;
    padding-bottom: 36px;
    border-radius: 8px 8px 0 0;
}

.boxOne > h1 {
    font-size: 1.4em;
    font-weight: 700;
    color: hsl(179, 62%, 43%);
    margin-bottom: 5px;
}

.boxOne > .subtitle {
    color: hsl(71, 73%, 54%);
    font-weight: 700;
}

.boxOne > .body {
    color: hsl(218, 22%, 67%);
    line-height: 1.7;
    font-size: 0.87em;
    font-weight: 400;
}

.boxTwo {
    background-color: hsl(179, 62%, 43%);
    display: grid;
    padding-left:24px;
    padding-right: 26px;
    padding-top: 32px;
    padding-bottom: 13px;
}

.boxTwo > h1 {
    font-size: 1.1em;
    color: #fff;
    font-weight: 700;
}

.boxTwo > .price {
    color: #fff;
    font-size: 2.0em;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 13px;
}

.price > span {
    color: hsla(179, 100%, 82%, 0.637);
    font-size: 0.5em;
    font-weight: 400;
}

.plan {
    color: #fff;
    font-size: 0.98em;
    font-weight: 400;
    padding-bottom: 20px;
}

.boxTwo > button {
    border: none;
    background-color: hsl(71, 73%, 54%);
    color: #fff;
    font-size: 0.97em;
    font-weight: 600;
    height: 44px;
    border-radius: 7px;
    box-shadow: 0 10px 5px hsl(179, 77%, 37%);
}

.boxThree {
    background-color: hsl(179, 54%, 49%);
    display: flex;
    flex-direction: column;
    row-gap: 14px;
    padding-left:24px;
    padding-right: 26px;
    padding-top: 32px;
    border-radius: 0 0 8px 8px;
}

.boxThree > h1 {
    color: #fff;
    font-size: 1.1em;
}
.boxThree > pre {
    color: hsla(0, 0%, 97%, 0.70);
    font-size: 0.9em;
    line-height: 1.3;
    font-family: 'Karla', sans-serif;
}

@media only screen and (min-width: 600px) {
    .cards {
        display: grid;
        grid-template-columns: 318px 318px;
        grid-auto-rows: minmax(217px, auto);
        grid-template-areas: 
            "boxone boxone"
            "boxtwo boxthree"
    }

    .boxOne {
        grid-area: boxone;
        padding-left: 40px;
        padding-top: 45px;
        display: flex;
        flex-direction: column;
        row-gap: 13px;
    }
    
    .boxOne > h1 {
        font-size: 1.6em;
        margin-bottom: 11px;
    }

    .boxOne > .subtitle {
        font-size: 1.1em;
    }
    
    .boxOne > .body {
        font-size: 1em;
        font-weight: 400;
    }

    .boxTwo {
        grid-area: boxtwo;
        border-radius: 0 0 0 8px;
    }
    
    .boxThree {
        grid-area: boxthree;
        border-radius: 0 0 8px 0;
    }

    .boxTwo > h1 {
        margin-bottom: 6px;
    }

    .boxTwo {
        padding-top: 41px;
        padding-left: 41px;
        padding-right: 41px;
        padding-bottom: 35px;
        row-gap: 10px;
    }

    .boxThree {
        padding-top: 41px;
        padding-left: 41px;
        padding-right: 41px;
        padding-bottom: px;
        row-gap: 22px;
    }

    .boxThree > pre {
        font-size: 0.9em;

    }
}